.body{
  position:relative;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.tooltip{
  background-color: rgb(228, 192, 252);
  opacity: 0.8;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  font-family: Arial;
  padding: 5px;
}

.counties{
  border: 1px solid yellow;
}

.legend{
  stroke: black;
}

.x-axis{
  stroke: Black;
  fill: none;
  stroke-width: 1px;
}
